.player{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: grey;
   
    >span{
        font-size: 32px;
    }

    >img{
        width: 70px;
        height: 70px;
        object-fit: cover;

    }
}

.active-player{
    background-color: azure;
}